* {
  font-size: 28px;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
  text-shadow: #eeebeb 0 0 20px;
  color: white;
}

body {
  background: #000 url(img/background.png);
  font-family: cursive;
}
.container {
  max-width: 1200px;
  margin: auto; /* Свойство margin CSS определяет внешний отступ на всех четырёх сторонах элемента. 
  Auto поровну распределяет все свободное пространство между правым и левым отступами*/
  padding-top: 20px;
}

.card {
  border-radius: 50px;
  padding: 40px;
  margin: 20px;
}

.background {
  background: rgb(86, 11, 148);
  box-shadow: 0 0 80px #fdfafa;
}
.bg-blue {
  background: rgb(225, 225, 230);

  box-shadow: 0 0 30px #0e0111;
}
.bg-text {
  background: rgba(55, 56, 34, 0.425);
  box-shadow: 14px 15px 15px rgba(0, 0, 0, 0.5);
  line-height: 20px;
}

a {
  font-size: 0.6em;
  text-decoration: none;
}

ul {
  margin: 30px;
}

.rounded-img {
  width: 28%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
  padding: 0.6em;
  margin: 15px 40px 10px 10px;
  box-shadow: 0 0 40px #3f034d;
}

.menu {
  background-color: #f1f1f1;
  box-shadow: 14px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

/* Убираем маркеры со списка и произведим выравнивание его элементов в одну линию*/
/*к каждому из элементов списка применим одинаковые по количеству отступы по всем краям*/
.menu li {
  display: inline-block;
  vertical-align: top;
  padding: 35px;
}

/*курсор мыши становился указателем, а цвет текста пункта становился белым*/
.menu li:hover {
  background-color: #f87777;
  /* background-color: slateblue; */
  cursor: pointer;
  color: #f8f8f8;
}

.textt-ransform {
  text-transform: uppercase;
}
